.* # Ignore all dotfiles...
.classpath
.project
!.gitignore # except for .gitignore
.settings

*.tmproj

#ignoro la carpeta target
target/*
target-eclipse/*

#ignoro archivos de intellij idea
*.iml
*.ipr
*.iws
.idea/*

# All gradle related files should be ignored for Grails 2.x version of this plugin.
.gradle
gradle/*
gradlew
gradlew.bat
build/*
classes/*
.asscache
settings.gradle
.DS_Store
out/

#ignoro logs
*.log

grails-file-uploader-*.zip
grails-file-uploader-*.zip.sha1
